name: "Pull Request Labeler"

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v5
      with:
        configuration-path: .github/configs/labeler.yml
        sync-labels: true