name: terragrunt plan

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  aws_default_region: ap-northeast-1
  tg_version: 0.57.7
  deploy_env: ${{ github.event.inputs.environment || 'dev' }}
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  terragrunt-plan:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'dev' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4
        with:
          aws-region: ${{ env.aws_default_region }}
          role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_OIDC_ROLE_ARN }}
          role-chaining: true

      - name: Terragrunt plan
        id: tg_plan
        uses: gruntwork-io/terragrunt-action@v2
        with:
          tg_version: ${{ env.tg_version }}
          tg_dir: infra/terragrunt/environment/${{ env.deploy_env }}
          tg_command: 'run-all plan'
          tg_comment: '1'

